.users-list {
    padding: 40px 40px;
  
    .image-col {
      text-align:center;
  
      .image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .text-col {
      margin: auto 0px;
    }
    .actions-col {
      text-align: center;
      margin: auto 0px;
  
      .action {
        line-height: 1;
      }
      .icon {
        font-size: 20px;
      }
    }
    .truncate {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }