ion-list{
    margin: auto;
    padding: 30px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
